{% extends "base.html" %}
{% block flash %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}" role="alert">{{ message }}</div>
        {% endfor %} 
    {% endif %}
{% endblock %} 
{% block content %}
<h1></h1>
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1 class="display-3">Анализатор страниц</h1>
        <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
        <form class="d-flex justify-content-center" action="/urls" method="post" requiried="">
          <input class="form-control form-control-lg" type="text" name="url" placeholder="https://www.example.com" value="{{ url|default('') }}">
          <input class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" type="submit" value="Проверить">
        </form>
    </div>
</div>
{% endblock %}